@using Microsoft.AspNetCore.Http
@using Book_Shop.Extensions
@using Book_Shop.Utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Book_Shop</title>
    <link rel="stylesheet" href="~/design/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/design/plugins/fontawesome/css/all.min.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-lg-5">
                <img src="~/design/img/book_shop.PNG" class="img-fluid" />
            </div>
            <div class="col-lg-7 ">
                <h1 class="text-center mt-4">Fantasic Four</h1>
                <h3 class="text-center mt-3">Đem thế giới sách đến với mọi người</h3>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <ul class="nav-item">
                <a class="nav-link text-light h3" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
            </ul>
            <ul class="nav-item">
                <a class="nav-link text-light h3" asp-area="Admin" asp-controller="Categories" asp-action="Index">Category</a>
            </ul>
            <ul class="nav-item">
                <a class="nav-link text-light h3" asp-area="Admin" asp-controller="Publishers" asp-action="Index">Publisher</a>
            </ul>
            <ul class="nav-item">
                <a class="nav-link text-light h3" asp-area="Admin" asp-controller="Authors" asp-action="Index">Author</a>
            </ul>
            <ul class="nav-item">
                <a class="nav-link text-light h3" asp-area="Admin" asp-controller="Books" asp-action="Index">Book</a>
            </ul>
            <ul class="nav-item">
                <a class="nav-link text-light h3" asp-area="Customer" asp-controller="Shop" asp-action="Index">All Shop</a>
            </ul>

            @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
            {
                <ul class="nav-item">
                    <a class="nav-item text-light" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index">
                        <i class="fas fa-shopping-cart"></i>&nbsp;
                        @{
                            var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count;
                        }
                        (@count)
                    </a>
                </ul>
            }
            else

            {
                <ul class="nav-item">
                    <a class="nav-item text-light" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index">
                        <i class="fas fa-shopping-cart"></i>&nbsp;
                        (0)
                    </a>
                </ul>
            }
            <div class="col-4 col-md-4">
                @Html.Editor("SearchIndex", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-2 col-md-1" style="padding-top:2px">
                <button asp-area="Customer" asp-controller="Shop" asp-action="Index" type="submit" class="fas fa-search" style="height:33px;width:100%;background-color:orange;"></button>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark p-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4 class="text-light mb-3">Liên hệ</h4>
                    <a href="#" class="text-info"><img width="30px" height="30px" src="~/design/img/logo/facebook.PNG"></a>
                    <a href="#" class="text-info"><img width="30px" height="30px" src="~/design/img/logo/intagram.PNG"></a>
                    <a href="#" class="text-info"><img width="30px" height="30px" src="~/design/img/logo/zalo.PNG"></a>
                    <p class="text-light mt-3">Địa chỉ: toà nhà Sài Gòn Tech, Lô 14, Công viên phần mềm Quang Trung</p>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <h4 class="text-light mb-3">Về Fantasic Four</h4>
                    </div>
                    <div class="row">
                        <a href="#" class="mb-3 text-light">Giới thiệu</a>
                    </div>
                    <div class="row">
                        <a href="#" class="mb-3 text-light">Điều khoản dịch vụ</a>
                    </div>
                    <div class="row">
                        <a href="#" class="mb-3 text-light">Hướng dẫn thanh toán</a>
                    </div>
                    <div class="row">
                        <a href="#" class="mb-3 text-light">Phản hồi</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <h4 class="text-light mb-3">App đọc sách</h4>
                    </div>
                    <div class="row">
                        <a href="#" class="mb-3 text-light"><img src="~/design/img/logo/app-android.jpg"></a>
                    </div>
                    <div class="row">
                        <a href="#" class="mb-3 text-light"><img src="~/design/img/logo/app-ios.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-light text-center">Website được thiết kế bởi nhóm Fantasic Four.</h4>
        <p class="text-light text-center mt-3">Mọi đóng góp xin gữi về email: fantasicfour@gmail.com</p>
        <p class="text-light text-center">Những đóng gọp của bạn sẽ giúp chúng tôi cải thiện để tốt hơn</p>
    </footer>
    <script src="plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

